@charset "UTF-8";
/*=================중단점=================*/
/*=================톤앤매너=================*/
/*=============디자인노트=================*/
/*=================톤앤매너(스킬)=================*/
/*=================아이덴티티 칼라=================*/
/*=================폰트패밀리=================*/
/*=================여백=================*/
@keyframes header_logo {
  0% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
@keyframes header_gnb_icon {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes header_gnb_mobile {
  0% {
    transform: rotateZ(0) translateY(0em);
  }
  25% {
    transform: rotateZ(3deg) translateY(1em);
  }
  50% {
    transform: rotateZ(0) translateY(0em);
  }
  75% {
    transform: rotateZ(3deg) translateY(-1em);
  }
  100% {
    transform: rotateZ(0deg) translateY(0em);
  }
}
@keyframes cursor_blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cat_jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes ferris_wheel {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes nyan_hover_tone {
  0% {
    color: #ffe1eb;
  }
  25% {
    color: #ffaec8;
  }
  50% {
    color: #e87d9e;
  }
  75% {
    color: #ffaec8;
  }
  100% {
    color: #ffe1eb;
  }
}
@keyframes dn_cat_head {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}