@charset "UTF-8";
/*=================중단점=================*/
/*=================톤앤매너=================*/
/*=================톤앤매너(스킬)=================*/
/*=================아이덴티티 칼라=================*/
/*=================폰트패밀리=================*/
/*=================여백=================*/
@keyframes header_logo {
  0% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

@keyframes header_gnb_icon {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes header_gnb_mobile {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes cursor_blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cat_jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes line1 {
  from {
    stroke-dasharray: calc(calc(-20px + 30vw) * 0.8 * 3.1415926535);
  }
  to {
    stroke-dashoffset: calc(calc(-20px + 30vw) * 0.8 * 0.07 * 3.1415926535);
  }
}

@keyframes line2 {
  from {
    stroke-dasharray: calc(calc(-10px + 20vw) * 0.8 * 3.1415926535);
  }
  to {
    stroke-dashoffset: calc(calc(-10px + 20vw) * 0.8 * 0.07 * 3.1415926535);
  }
}

@keyframes line3 {
  from {
    stroke-dasharray: calc(120px * 0.8 * 3.1415926535);
  }
  to {
    stroke-dashoffset: calc(120px * 0.8 * 0.07 * 3.1415926535);
  }
}

@keyframes line4 {
  from {
    stroke-dasharray: calc(160px * 0.8 * 3.1415926535);
  }
  to {
    stroke-dashoffset: calc(160px * 0.8 * 0.07 * 3.1415926535);
  }
}

@keyframes oo {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes xx {
  100% {
    transform: rotate(-360deg);
  }
}
