@charset "UTF-8";
/*=================중단점=================*/
/*=================톤앤매너=================*/
/*=================폰트패밀리=================*/
/*=================여백=================*/
/*=================중단점=================*/
/*=================톤앤매너=================*/
/*=================폰트패밀리=================*/
/*=================여백=================*/
.no {
  display: none;
}

.on {
  color: #e87d9e;
}

.header_fix {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 6, 32, 0.3);
}
span.mk_highlight {
  color: #e54d26;
}