//헤더 로고 애니메이션

// @keyframes header_logo {

//     0% {
//         transform:rotateZ(5deg);
//     }

//     25% {
//         transform:rotateZ(-5deg);
//     }

//     50% {
//         transform:rotateZ(5deg);
//     }

//     75% {
//         transform:rotateZ(15deg);
//     }

//     100% {
//         transform:rotateZ(5deg);
//     }
// }

//헤더 gnb 아이콘 애니메이션

// @keyframes header_gnb_icon {
//     0% {
//         transform: translateY(0%);
//     }

//     50% {
//         transform: translateY(-10%);
//     }

//     100% {
//         transform: translateY(0%);
//     }
// }

//헤더 gnb 모빌 애니메이션

// @keyframes header_gnb_mobile {

//     0% {
//         transform:rotateZ(0);
//     }

//     25% {
//         transform:rotateZ(-5deg);
//     }

//     50% {
//         transform:rotateZ(0);
//     }

//     75% {
//         transform:rotateZ(5deg);
//     }

//     100% {
//         transform:rotateZ(0deg);
//     }
// }


// @keyframes header_gnb_cat {
//     0% {
//         transform:rotateZ(0);
//     }

//     24% {
//         transform:rotateZ(0);
//     }

//     25% {
//         transform:rotateZ(1deg);
//     }

//     49% {
//         transform:rotateZ(1deg);
//     }

//     50% {
//         transform:rotateZ(0deg);
//     }

//     74% {
//         transform:rotateZ(0deg);
//     }

//     75% {
//         transform:rotateZ(-1deg);
//     }

//     99% {
//         transform:rotateZ(-1deg);
//     }

//     100% {
//         transform:rotateZ(0);
//     }
// }



// @keyframes intro_kitty {

//         0% {
//             transform:rotateZ(5deg);
//         }
    
//         25% {
//             transform:rotateZ(-5deg);
//         }
    
//         50% {
//             transform:rotateZ(5deg);
//         }
    
//         75% {
//             transform:rotateZ(15deg);
//         }
    
//         100% {
//             transform:rotateZ(5deg);
//         }
    
// }

@keyframes cursor_blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cat_jump {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes line {
    from {
        stroke-dasharray: calc(200 * 0.8 * 3.1415926535);
    }

    to {
        stroke-dashoffset: calc(200 * 0.8 * 0.07 * 3.1415926535);
    }
}

// 

