@import './mixin.scss';
@import './style.scss';
@import './responsive.scss';
@import './reset.scss';

footer {
    .footer_trace {
        @include nyan_mezo_margin;
    }

    .footer_important {
        position: relative;
        overflow: hidden;

        .footer_road {
            position: relative;
            padding-top: calc(60px + 60vw);
            width: 100%;
            display: block;

            @include responsive(tablet-cat) {
                padding-top: calc(60vw);
            }

            @include responsive(semi-cat) {
                padding-top: calc(65vw);
            }

            @include responsive(huge-cat) {
                padding-top: calc(70vw);
            }

        }

        .footer_kitty {
            position: absolute;
            width: 100%;
            display: block;
            bottom: -20%;
            z-index: -1;

        }

        .footer_icons {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%);

            @include responsive(tablet-cat) {
                bottom: 13%;
            }

            @include responsive(semi-cat) {
                bottom: 15%;
            }

            @include responsive(huge-cat) {
                //
            }

            img {
                position: relative;
                cursor: pointer;
                width: calc(10px + 3vw);
                margin-right: $petit_margin_p;

                @include responsive(tablet-cat) {
                    margin-right: $petit_margin_t;
                    width: calc(20px + 3vw);
                }
    
                @include responsive(semi-cat) {
                    margin-right: $petit_margin_s;
                    width: 60px;
                }
    
                @include responsive(huge-cat) {
                    margin-right: $petit_margin_h;
                    width: 80px;

                }

                &:hover {
                    rotate: 30deg;
                    transition: rotate 0.2s linear;
                }
            }

        }

        .footer_information {
            position: absolute;
            bottom: 5%;
            left: 50%;
            translate: -50% 0;
            width: 100%;

            @include responsive(tablet-cat) {
                bottom: 5%;
            }

            p {
                text-align: center;

                em {
                    font-style: normal;
                    font-size: calc(2px + 3vw);
                    display: block;

                    @include responsive(tablet-cat) {
                        font-size: calc(2px + 2vw)
                    }

                    @include responsive(semi-cat) {
                        font-size: 32px;
                    }

                    @include responsive(huge-cat) {
                        font-size: 36px;
                    }
                    
                }

                q {
                    @include nyan_petit_margin;
                    display: none;
                    
                    @include responsive(tablet-cat) {
                        display: block;
                        font-size: calc(2px + 2vw);
                    }

                    @include responsive(semi-cat) {
                        font-size: 24px;
                    }

                    @include responsive(huge-cat) {
                        font-size: 28px;
                    }

                    br{
                        line-height: 0;
                        @include responsive(m450-cat) {
                            display: none;
                        }
                    }
                }


            }
        }
    }

}