@import './style.scss';
@import './responsive.scss';
@import './mixin.scss';
@import './animation.scss';

main {


    .rending {

    }

    .intro_matte {
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
    }

    .main_intro {

        // background-color: rgb(255, 199, 199);

        @include responsive(tablet-cat) {
            //
        }

        @include responsive(semi-cat) {

        }

        @include responsive(huge-cat) {
            //
        }

        .nyan_1 {  

            
            .first_flex {
                position: relative;

    
                .intro_images {
                    margin: 0 auto;
                    position: relative;
                    height: fit-content;
                    width: fit-content;
                    // animation: intro_kitty infinite 3s linear;
                    transform-origin: 40% center;
                    margin-top: $large_margin_p;

        
                    @include responsive(tablet-cat) {
                        //
                    }
            
                    @include responsive(semi-cat) {
                        //
                    }
            
                    @include responsive(huge-cat) {
                        //
                    }
        
                    & img {
                        display: block;
        
                        @include responsive(tablet-cat) {
                            //
                        }
                
                        @include responsive(semi-cat) {
                            //
                        }
                
                        @include responsive(huge-cat) {
                            //
                        }
                    }
        
                    
                    .intro_kitty {
                        width: calc(150px + 20vw);
        
                        @include responsive(tablet-cat) {
                            width: calc(180px + 20vw);
                        }
                
                        @include responsive(semi-cat) {
                            width: 400px;
                        }
                
                        @include responsive(huge-cat) {
                            width: 480px;
                        }
                    }
        
                    .intro_lines {
                        
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: calc(24px + 2vw);
        
                            @include responsive(tablet-cat) {
                                width: calc(28px + 2vw);
                            }
                    
                            @include responsive(semi-cat) {
                                width: 65px;
                            }
                    
                            @include responsive(huge-cat) {
                                width: 80px;
                            }
        
                            &:nth-child(1) {
                                left: 20%;
                                top: -10%;
                                transform: rotateZ(10deg);
                            }
        
                            &:nth-child(2) {
                                top: 93%;
                                left: 10%;
                                transform: rotateZ(245deg);
                            }
        
                            &:nth-child(3) {
                                top: 50%;
                                left: 88%;
                                transform: rotateZ(150deg);
                            }
                        }
                    }
        
                    .intro_click {
        
                        .intro_click_hi {
                            color: $gray1;
                            position: absolute;
                            top: 70%;
                            right: 0%;
                            font-size: calc(12px + 1.5vw);
        
                            @include responsive(tablet-cat) {
                                font-size: calc(14px + 1vw);
                            }
        
                            @include responsive(semi-cat) {
                                font-size: 24px;
                            }
                    
                            @include responsive(huge-cat) {
                                font-size: 33px;
                            }
        
                        }
                    }
                    
                }
        
                .intro_title {
                    @include nyan_mezo_margin;
                    margin-top: $mid_margin_p;
        
                    @include responsive(tablet-cat) {
                        //
                    }
            
                    @include responsive(semi-cat) {
                        width: 1180px;

                    }
            
                    @include responsive(huge-cat) {
                        width: 1380px;
                        margin-left: auto;
                        margin-right: auto;
                    }
        
                    .intro_h2 {
                        position: relative;
        
                        h2 {
                            color: rgba($color: #fff, $alpha: 0.3);
                            text-align: center;
                            letter-spacing: 1px;
                            font-size: calc(12px + 3vw);
        
                            @include responsive(tablet-cat) {
                                font-size: calc(8px + 2vw);
                            }
                    
                            @include responsive(semi-cat) {
                                font-size: 56px;
                                text-align: left;
                                letter-spacing: 2px;
                            }
                    
                            @include responsive(huge-cat) {
                                font-size: 60px;
                            }
                            
                        }
                    }
        
                    .intro_h1 {
                        position: relative;
                        @include nyan_tiny_margin; 
        
                        @include responsive(tablet-cat) {
                            //
                        }
                
                        @include responsive(semi-cat) {
                            display: flex;
                            width: fit-content;
                            margin-left: auto;
                            align-items: center;
                            justify-content: space-between;
                            
                        }
                
                        @include responsive(huge-cat) {
                            
                        }
        
                        h1 {
                            color: rgba($color: #fff, $alpha: 0.3);
                            letter-spacing: 1px;
                            text-align: center;
                            font-size: calc(20px + 4vw);
        
                            @include responsive(tablet-cat) {
                                font-size: calc(20px + 5vw);
                            }
                    
                            @include responsive(semi-cat) {
                                font-size: 76px;
                                letter-spacing: 2px;
                                width: fit-content;
                            }
                    
                            @include responsive(huge-cat) {
                                font-size: 90px;
                            }
                            
                        }
        
                        img {
                            display: none;
        
                            @include responsive(tablet-cat) {
                                //
                            }
                    
                            @include responsive(semi-cat) {
                                display: block;
                                width: 100px;
                                margin-left: 20px;
                            }
                    
                            @include responsive(huge-cat) {
                                width: 120px;
                                margin-left: 30px;
                            }
        
                        }
                    }
        
                }
            }


    

        }

    }
    

    .main_aboutme {
        @include nyan_large_margin;
        @include nyan_common_h2;

        .nyan_zone {

            .about_me_contents {
                @include nyan_mid_margin;
                display: flex;
                flex-direction: column;

                @include responsive(tablet-cat) {
                    flex-direction: row;
                    align-items: center;
                }

                @include responsive(semi-cat) {
                    //
                }

                @include responsive(huge-cat) {
                    //
                }

                .about_me_illust {
                    position: relative;

                    @include responsive(tablet-cat) {
                        width: 50%;
                    }
    
                    @include responsive(semi-cat) {
                        width: 480px;
                    }
    
                    @include responsive(huge-cat) {
                        width: 680px;
                    }

                    .about_me_back {
                        position: relative;
                        
                        width: 81.25%;
                        margin: 0 auto;
                        height: fit-content;

                        @include responsive(tablet-cat) {
                            width: 80%;
                            margin: 0;
                            left: -20%;
                        }

                        @include responsive(semi-cat) {
                            width: 400px;
                            left: -120px;
                        }

                        @include responsive(huge-cat) {
                            width: 500px;                            
                        }
                        
                        &>img {
                            position: relative;
                            display: block;
                            width: 81.25%;
                            margin: 0 auto;
                            transform: translateX(-10%);

                            @include responsive(tablet-cat) {
                                transform: translate(0);
                                margin: 0;
                                width: 100%;
                            }

                            @include responsive(semi-cat) {
                                //
                            }

                            @include responsive(huge-cat) {
                                //
                            }

                            &:first-child {
                                position: relative;

                                @include responsive(tablet-cat) {
                                    //
                                }
    
                                @include responsive(semi-cat) {
                                    //
                                }
    
                                @include responsive(huge-cat) {
                                    //
                                }

                            }

                            &:nth-child(2) {
                                position: absolute;
                                top: -0.5%;
                                right: 6%;

                                
                                @include responsive(tablet-cat) {
                                    top: -3%;
                                    right: auto;
                                    left: 3%;

                                }
    
                                @include responsive(semi-cat) {
                                    //
                                }
    
                                @include responsive(huge-cat) {
                                    //
                                }

                            }

                            &.Seoyong {
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translateX(-60%);

                                @include responsive(tablet-cat) {
                                    left: 0;
                                    transform: translateX(0%);

                                }
    
                                @include responsive(semi-cat) {

                                }
    
                                @include responsive(huge-cat) {
                                    //
                                }
                            }
                        }

                        .about_me_front {

                            &>img {
                                position: absolute;
                                top: 0;

                                @include responsive(tablet-cat) {
                                    //
                                }
    
                                @include responsive(semi-cat) {
                                    //
                                }
    
                                @include responsive(huge-cat) {
                                    //
                                }

                                &:first-child {
                                    width: 60%;
                                    right: 15%;
                                    top: -10%;
                                    transform: rotateZ(-10deg);

                                    @include responsive(tablet-cat) {
                                        top: -15%;
                                        left: 35%;
                                        width:80%;
                                    }
        
                                    @include responsive(semi-cat) {
                                        //
                                    }
        
                                    @include responsive(huge-cat) {
                                        //
                                    }
                                }
                                

                                &:nth-child(2) {
                                    right: 25%;
                                    top: -7%;
                                    width: 8%;

                                    @include responsive(tablet-cat) {
                                        right: 0%;
                                        top: -10%;
                                        width: 10%;
                                    }
        
                                    @include responsive(semi-cat) {
                                        //
                                    }
        
                                    @include responsive(huge-cat) {
                                        //
                                    }
                                }

                                &:nth-child(3) {
                                    top: 8%;
                                    right: 10%;
                                    width: 8%;

                                    @include responsive(tablet-cat) {
                                        right: -20%;
                                        top: 5%;
                                        width: 10%;
                                    }
        
                                    @include responsive(semi-cat) {
                                        //
                                    }
        
                                    @include responsive(huge-cat) {
                                        //
                                    }
                                }

                                &:last-child {
                                    top: 75%;
                                    right: 3%;
                                    width: 10%;

                                    @include responsive(tablet-cat) {
                                        right: -30%;
                                        top: 78%;
                                        width: 12%;
                                    }
        
                                    @include responsive(semi-cat) {
                                        //
                                    }
        
                                    @include responsive(huge-cat) {
                                        //
                                    }
                                }

                            }
    
                        }

                    }
                }

                .about_me_descri {
                    margin-top: $mezo_margin_p;

                    @include responsive(tablet-cat) {
                        margin-top: 0;
                        width: 70%;
                    }

                    @include responsive(semi-cat) {
                        width: 680px;
                    }

                    @include responsive(huge-cat) {
                        width: 880px;
                    }

                    .descri_idc {

                        //

                        @include responsive(tablet-cat) {
                            display: flex;
                            align-items:baseline;

                        }

                        @include responsive(semi-cat) {
                        }


                        .idc_h3_entire {
                            position: relative;
                            width: fit-content;
                            height: fit-content;
                            padding: calc(1px + 1.5vw) calc(12px + 2vw);
                            margin: 0 auto;

                            @include responsive(tablet-cat) {
                                margin: 0;
                                padding: calc(1px + 1.5vw) calc(8px + 2vw);
                            }

                            @include responsive(semi-cat) {
                                padding: 15px 30px;
                                width: fit-content;
                                
                            }

                            @include responsive(huge-cat) {
                                padding: 18px 36px;

                            }

                            h3 {
                                font-size: calc(24px + 3vw);

                                @include responsive(tablet-cat) {
                                    font-size: calc(18px + 2vw);
                                    width: fit-content;
                                }
    
                                @include responsive(semi-cat) {
                                    font-size: 48px;
                                }
    
                                @include responsive(huge-cat) {
                                    font-size: 54px;
                                }
                            }
    
                            &>span {
                                position: absolute;
                                width: 20%;
                                height: 3.5px;
                                background-color: $identity;
                                top: 0px;
                                left: 0px;

                                @include responsive(tablet-cat) {
                                    width: 25%;
                                }
                                
                                @include responsive(semi-cat) {
                                    width: 40px;
                                    height: 4.5px;
                                }

                                @include responsive(huge-cat) {
                                    width: 50px;
                                    height: 5px;
                                }

                                &:first-child {
                                    //
                                }

                                &:nth-child(2) {
                                    transform: rotateZ(90deg);
                                    transform-origin: left top;
                                }

                                &:nth-child(3), &:last-child {
                                    top: auto;
                                    left: auto;
                                    bottom: 0;
                                    right: 0;
                                }

                                &:last-child {
                                    transform: rotateZ(90deg);
                                    transform-origin: right bottom;
                                }
                            }
                        }

                        .idc_rest {
                            position: relative;
                            width: fit-content;
                            margin: 0 auto;
                            height: calc(18px + 1vw);
                            display: flex;
                            margin-top: $petit_margin_p;

                            @include responsive(tablet-cat) {
                                margin: 0;
                                margin-left: 20px;

                            }

                            @include responsive(semi-cat) {
                                height:auto;
                                
                                
                            }

                            @include responsive(huge-cat) {
                                
                            }

                            

                            &>p {
                                font-size: calc(14px + 2vw);

                                @include responsive(tablet-cat) {
                                    font-size: calc(10px + 2vw);
                                    width: fit-content;
                                }

                                @include responsive(semi-cat) {
                                    font-size: 36px;
                                }

                                @include responsive(huge-cat) {
                                    font-size: 40px;

                                }
                            }

                            .idc_developer {
                                margin-right: 10px;
                                position: relative;

                                @include responsive(tablet-cat) {
                                    
                                }

                                @include responsive(semi-cat) {
                                    top: 0;

                                }

                            }

                            .idc_seoyong {


                                @include responsive(tablet-cat) {

                                    .omit {
                                        display: none;
                                    }

                                }

                                @include responsive(semi-cat) {

                                    .omit {
                                        display: inline;
                                    }
                                }

                                @include responsive(huge-cat) {
                                    //
                                }

                            }
                        }

                    }

                    .descri_comment {
                        
                        @include nyan_small_margin;
                        text-align: center;
                        position: relative;
                        margin-top: $regular_margin_p;

                        h4 {
                            font-size: calc(6px + 2vw);
                            color: $identity;

                            @include responsive(tablet-cat) {
                                font-size: calc(8px + 1vw);
                            }

                            @include responsive(semi-cat) {
                                font-size: 18px;
                            }

                            @include responsive(huge-cat) {
                                font-size: 21px;

                            }

                        }

                        .descri_cursor {
                            display: inline-block;
                            border-radius: 1.5px;
                            height: 3px;
                            width: calc(6px + 2vw);
                            margin-left: 5px;
                            background-color: $identity;
                            animation: cursor_blink 0.5s linear infinite;

                            @include responsive(tablet-cat) {
                                width: calc(8px + 1vw);
                            }

                            @include responsive(semi-cat) {
                                width: 24px;
                                height: 4px;
                            }

                            @include responsive(huge-cat) {
                                width: 28px
                            }

                            &.n2 {
                                margin-left: 3px;
                                background-color: white;

                                @include responsive(tablet-cat) {
                                    width: calc(8px + 1vw);
                                }
    
                                @include responsive(semi-cat) {
                                    width: 24px;
                                    height: 4px;
                                }
    
                                @include responsive(huge-cat) {
                                    width: 28px
    
                                }
                            }

                        }

                        p {
                            @include nyan_petit_margin;
                            margin-top: $tiny_margin_p;
                            font-size: calc(6px + 2vw);

                            @include responsive(tablet-cat) {
                                font-size: calc(8px + 1vw);
                            }

                            @include responsive(semi-cat) {
                                font-size: 21px;
                                
                            }

                            @include responsive(huge-cat) {
                                font-size: 24px;

                            }

                        }

                    }

                    .descri_explain {

                        @include nyan_small_margin;

                        .explain_title {

                            p {
                                font-size: calc(10px + 1vw);
                                line-height: 2em;
                                text-align: justify;

                                @include responsive(tablet-cat) {
                                    font-size: calc(8px + 1vw);
                                }
        
                                @include responsive(semi-cat) {
                                    font-size: 24px;
                                }
        
                                @include responsive(huge-cat) {
                                    font-size: 28px;
                                }

                                span.descri_keyword {
                                    color: $identity;
                                    display: block;
                                    text-align: center;
                                    font-size: 2em;

                                    @include responsive(tablet-cat) {
                                        display: inline;
                                        text-align: justify;
                                        font-size: 1.5em;
                                    }
            
                                    @include responsive(semi-cat) {
                                        font-size: 36px;
                                    }
            
                                    @include responsive(huge-cat) {
                                        font-size: 40px;
                                    }
                                }
                            }

                        }

                        .explain_contents {
                            @include nyan_tiny_margin;

                            p {
                                font-size: calc(10px + 1vw);
                                line-height: 2em;
                                text-align: justify;

                                @include responsive(tablet-cat) {
                                    font-size: calc(6px + 1vw);
                                }
    
                                @include responsive(semi-cat) {
                                    font-size: 18px;
                                    
                                }
    
                                @include responsive(huge-cat) {
                                    font-size: 21px;
    
                                }
                            }
                        }
                    }

                    .descri_gauge {
                        
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin: 0 auto;
                        @include nyan_small_margin;

                        @include responsive(tablet-cat) {
                            width: 90%;
                        }

                        @include responsive(semi-cat) {
                            width: 650px;
                        }

                        @include responsive(huge-cat) {
                            width: 850px;
                        }
                        
                        .current_num {
                            width: 10%;
                        }

                        .num {
                            font-size: calc(10px + 1vw);
                            text-align: center;
                            cursor: pointer;

                            @include responsive(tablet-cat) {
                                font-size: calc(8px + 1vw);
                            }

                            @include responsive(semi-cat) {
                                font-size: 18px;
                            }

                            @include responsive(huge-cat) {
                                font-size: 24px;
                            }
                        }

                        .gauge {
                        
                            width: 60%;
                            margin: 0 10px;

                            @include responsive(tablet-cat) {
                                //
                            }

                            @include responsive(semi-cat) {
                                width: 380px;
                            }

                            @include responsive(huge-cat) {
                                width: 580px;
                            }

                            .gauge_entire {
                                position: relative;
                                width: 100%;
                                height: 2px;
                                border-radius: 1px;
                                background-color: rgba($color: #ffffff, $alpha: 0.3);

                                @include responsive(tablet-cat) {
                                    height: 3px;
                                    border-radius: 1.5px;
                                }
    
                                @include responsive(semi-cat) {
                                    height: 4px;
                                    border-radius: 2px;
                                }
    
                                @include responsive(huge-cat) {
                                    height: 5px;
                                    border-radius: 2.5px;
                                }

                                .gauge_current {
                                    width: 40%;
                                    height: inherit;
                                    border-radius: inherit;
                                    background-color: rgba($color: #ffffff, $alpha: 0.7);

                                    @include responsive(tablet-cat) {
                                        //
                                    }
        
                                    @include responsive(semi-cat) {
                                        //
                                    }
        
                                    @include responsive(huge-cat) {
                                        //
                                    }
                                }

                            }
                            



                        }

                        .rest_num {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            width: 30%;

                            .num {
                                width: 45%;
                            }

                            .gauge_line {
                                display: block;
                                height: calc(10px + 1vw);
                                width: 2px;
                                background-color: #fff;
                                
                            }
                        }
                    }

                }
                
            }
        }

    

    }

    .main_myspecs {
        @include nyan_large_margin;
        @include nyan_common_h2;
        overflow: hidden;


        .my_specs_back {
            display: none;
            position: relative;
            z-index: -1;
            &>div {
                position: absolute;
                width: calc(500px + 50vw);

                &>img {

                    &:first-child {

                    }

                    &:last-child {
                        position: absolute;
                        top: 5%;
                        left: 0;
                    }
                }
            }

            .n1 {

                img {
                    //
                }
            }

            .n2 {

                img {
                    //
                }
            }

            .n3 {


                img {
                    //
                }
            }

            .ms_back {


            }
        }

        .my_specs_contents {
            margin: 0 auto;
            @include nyan_mid_margin;
            width: 90%;
            

            @include responsive(tablet-cat) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

            }
            
            .ms_contents_grp {
                position: relative;

                width: 55%;
                max-width: 300px;

                @include responsive(tablet-cat) {
                    width: 26%;
                    max-width: none;
                }

                @include responsive(semi-cat) {
                    margin: 0 auto;
                    width: 33.333333333333%;
                }

                &:nth-child(even) {
                    margin-left: auto;

                    @include responsive(tablet-cat) {
                        margin-left: 0;
                    }

                    @include responsive(semi-cat) {
                        //
                    }

                    @include responsive(huge-cat) {
                        //
                    }
                }

                &:nth-child(n+4) {
                    @include nyan_mezo_margin;
                }

                &:nth-child(3n+2) {
                    
                    @include responsive(tablet-cat) {
                        top: 80px;
                    }

                    @include responsive(semi-cat) {
                        top: 0
                    }

                    @include responsive(huge-cat) {
                        //
                    }
                }

                &:nth-child(1) {

                    @include responsive(semi-cat) {
                        top: -3em;
                        left: -5em;
                    }

                    @include responsive(huge-cat) {
                        top: -4.5em;
                        left: -7.5em;
                    }

                }

                &:nth-child(2) {

                    @include responsive(semi-cat) {
                        top: 3em;
                        left: -5em;
                    }

                    @include responsive(huge-cat) {
                        top: 4.5em;
                        left: -7.5em;
                    }

                }

                &:nth-child(3) {

                    @include responsive(semi-cat) {
                        top:  0;
                        left: -7em;
                    }

                    @include responsive(huge-cat) {
                        left: -10.5em;
                    }

                }

                &:nth-child(4) {

                    @include responsive(semi-cat) {
                        top:  -2em;
                        left: 4em;
                    }

                    @include responsive(huge-cat) {
                        top: -3em;
                        left: 6em;
                    }

                }

                &:nth-child(5) {

                    @include responsive(semi-cat) {
                        top:  3em;
                        left: 6em;
                    }

                    @include responsive(huge-cat) {
                        top: 4.5em;
                        left: 9em;
                    
                    }

                }

                &:nth-child(6) {
                    @include responsive(semi-cat) {
                        top:  -3em;
                        left: 3.5em;
                    }

                    @include responsive(huge-cat) {
                        top: -4.5em;
                        left: 5.25em;
                    }
                }
                
                img {
                    width: 100%;
                    
                    @include responsive(tablet-cat) {
                        //
                    }

                    @include responsive(semi-cat) {
                        width: 250px;
                        display: block;
                        margin: 0 auto;
                    }

                    @include responsive(huge-cat) {
                        width: 300px;
                    }
                }



                .ms_contents_txt {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;

                    @include responsive(tablet-cat) {
                        //
                    }

                    @include responsive(semi-cat) {
                        width: 250px;
                        margin: 0 auto;

                    }

                    @include responsive(huge-cat) {
                        //
                    }

                    h4 {
                        font-size: calc(6px + 3vw);

                        @include responsive(tablet-cat) {
                            font-size: calc(12px + 1vw);
                        }
    
                        @include responsive(semi-cat) {
                            font-size: 24px;

                        }
    
                        @include responsive(huge-cat) {
                            font-size: 28px;
                        }

                        

                        &.h4_even {
                            margin-top: 20px;
                            
                            @include responsive(tablet-cat) {
                                //
    
                            }
        
                            @include responsive(semi-cat) {
                                //
                            }

                            @include responsive(huge-cat) {
                                margin-top: 25px;
                            }

                        }

                    }

                    h5 {
                        @include nyan_petit_margin;
                        font-size: calc(7px + 2vw);
                        color: $identity;

                        @include responsive(tablet-cat) {
                            font-size: calc(8px + 1vw);
                        }
    
                        @include responsive(semi-cat) {
                            font-size: 18px;

                        }
    
                        @include responsive(huge-cat) {
                            font-size: 21px;
                        }

                    }

                    p {
                        @include nyan_tiny_margin;
                        
                        font-size: calc(7px + 2vw);

                        @include responsive(tablet-cat) {
                            font-size: calc(8px + 1vw);
                        }
    
                        @include responsive(semi-cat) {
                            font-size: 21px;
                            margin-top: 15px;

                        }
    
                        @include responsive(huge-cat) {
                            margin-top: 20px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        .my_specs_urban {
            position: relative;
            width: 100%;
            max-width: 3000px;
            margin: 0 auto;
            margin-top: 150px;


            @include responsive(tablet-cat) {
                margin-top: 200px;
            }

            @include responsive(semi-cat) {
                margin-top: 200px;
            }

            @include responsive(huge-cat) {
                margin-top: 300px;
            }


            &>img {
                width: 100%;
            }

            .urban_gradient {
                position: absolute;
                bottom: 5%;
                width: 100%;
                height: 200px;
                display: block;
                background: rgb(232,125,158);
                background: linear-gradient(180deg, rgba(232,125,158,0) 0%, rgba(232,125,158,1) 100%);
                z-index: -1;

                @include responsive(tablet-cat) {
                    height: 300px;
                }

                @include responsive(semi-cat) {
                    height: 400px;
                }

                @include responsive(huge-cat) {
                    height: 500px;
                }
            }
        }

    }

    .main_myskills {
        @include nyan_big_margin;
        @include nyan_common_h2;

        .my_skills_gnb {
            @include nyan_small_margin;

            .mk_gnb_flex {
                width: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                @include responsive(tablet-cat) {
                    width: 30%;
                } 

                @include responsive(semi-cat) {
                    width: 480px;

                }

                @include responsive(huge-cat) {
                    width: 510px;

                }

                li {
                    font-size: calc(12px + 2vw);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    

                    @include responsive(tablet-cat) {
                        font-size: calc(16px + 1vw);
                    } 

                    @include responsive(semi-cat) {
                        font-size: 36px;

                    }

                    @include responsive(huge-cat) {
                        font-size: 40px;

                    }

                    .mk_gnb_kitty {
                        display: block;
                        margin-bottom: 5px;

                        img {
                            width: calc(20px + 5vw);
                            display: block;
                            animation: cat_jump ease-in 1s infinite;
                        }
                    }


                }


            }
        }

        .mk_main {

            .mk_skills_kitty {
                margin: 0 auto;
                margin-top: $regular_margin_p;
                width: 80%;

                @include responsive(tablet-cat) {
                    width: 60%;
                }

                @include responsive(semi-cat) {
                    width: 500px;
                }

                @include responsive(huge-cat) {
                    width: 600px;
                }

                img {
                    display: block;
                    width: 100%;
                }
            }
            
        }

    }

    .main_projects {
        height: 1000px;
        background-color: rgb(199, 112, 175);

    }

    .main_contactme {
        height: 1000px;
        background-color: rgb(226, 223, 0);
    }
}