@import './style.scss';
@import './responsive.scss';
@import './mixin.scss';

.no {
    display: none;
}

.on {
    color: $identity;
}

.not_scroll {
    position: fixed;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 100%;
}


.header_fix {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba($color: $background, $alpha: 0.3);

    @include responsive(tablet-cat) {
    }

    @include responsive(semi-cat) {
    }
    
    @include responsive(huge-cat) {
        //
    }
}

.idc_span, .cmt_span{
    position: relative;
}

.descri_explains {
    .descri_explain {
        &>div>p{
            position: relative;
        }
    }
}

span.mk_highlight {
    color: $html;
}


.next_style {
    top: 2em;
    opacity: 0;
}

.common_under {
    @include common_under;
}

.kitty_img_add {
    scale: 0;
    opacity: 0;
}

.kitty_txt_add {
    opacity: 0;
    transform: translateY(15%);
}

.contents_fw_add {
    opacity: 0;
    transform: translateY(150%) scaleY(1);
    transform-origin: top;
}

.mk_kitty_style {
    transform: translateY(-50%);
    opacity: 0;
}

.btn_txt_hover {
    color: $background;
}
