@import './style.scss';
@import './responsive.scss';

@mixin nyan_petit_margin {
    margin-top: $petit_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $petit_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $petit_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $petit_margin_h;
    }
}

@mixin nyan_tiny_margin {
    margin-top: $tiny_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $tiny_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $tiny_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $tiny_margin_h;
    }
}

@mixin nyan_small_margin {
    margin-top: $small_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $small_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $small_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $small_margin_h;
    }
}

@mixin nyan_regular_margin {
    margin-top: $regular_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $regular_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $regular_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $regular_margin_h;
    }
}

@mixin nyan_mezo_margin {
    margin-top: $mezo_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $mezo_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $mezo_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $mezo_margin_h;
    }
}

@mixin nyan_mid_margin {
    margin-top: $mid_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $mid_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $mid_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $mid_margin_h;
    }
}

@mixin nyan_big_margin {
    margin-top: $big_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $big_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $big_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $big_margin_h;
    }
}

@mixin nyan_large_margin {
    margin-top: $large_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $large_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $large_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $large_margin_h;
    }
}

@mixin nyan_grand_margin {
    margin-top: $grand_margin_p;

    @include responsive(tablet-cat) {
        margin-top: $grand_margin_t;
    }

    @include responsive(semi-cat) {
        margin-top: $grand_margin_s;
    }

    @include responsive(huge-cat) {
        margin-top: $grand_margin_h;
    }
}

@mixin nyan_common_h2 {
    .main_h2 {
        .nyan_zone_h2 {
            display: flex;
            align-items: center;
            flex-direction: column;


            @include responsive(tablet-cat) {
                flex-direction: row;
            }

            @include responsive(semi-cat) {
                //
            }
    
            @include responsive(huge-cat) {
                //
            }
            
            .title_trace_area {
                position: relative;
                width: calc(15px + 3vw);
                margin: 0 auto;


                @include responsive(tablet-cat) {
                    margin: 0;
                    width: calc(30px + 2vw);
                    height: calc(20px + 2vw);
                    margin-right: $tiny_margin_t;
                }

                @include responsive(semi-cat) {
                    width: 50px;
                    height: 40px;
                }

                @include responsive(huge-cat) {
                    width: 60px;
                    height: 48px;

                }

                &>img {

                    width: 100%;

                    @include responsive(tablet-cat) {
                        margin: 0;
                        position: absolute;
                        width: 40%;
                    }

                    @include responsive(semi-cat) {
                        width: 20px;
                    }

                    @include responsive(huge-cat) {
                        width: 24px;
                    }

                    &:nth-child(1) {

                        @include responsive(tablet-cat) {
                            bottom: 0;
                        }

                        @include responsive(semi-cat) {
                    
                        }
        
                        @include responsive(huge-cat) {
                            
                        }
                    }

                    &:nth-child(2) {

                        display: none;

                        @include responsive(tablet-cat) {
                            display: block;
                            right: 0%;
                            top: 60%;
                            transform: translateY(-50%);
                        }

                        @include responsive(semi-cat) {
                    
                        }
        
                        @include responsive(huge-cat) {
                            
                        }
                    }

                    &:nth-child(3) {

                        display: none;

                        @include responsive(tablet-cat) {
                            display: block;
                            left: 45%;
                            transform: translateX(-50%);
                        }

                        @include responsive(semi-cat) {
                    
                        }
        
                        @include responsive(huge-cat) {
                            
                        }
                    }
                }
            }

            .title_text_area {

                h2 {
                    text-align: center;
                    font-size: calc(6px + 6vw);
                    margin-top: $petit_margin_p;

                    @include responsive(tablet-cat) {
                        font-size: calc(6px + 4vw);
                        margin-top: 0;
                    }

                    @include responsive(semi-cat) {
                        font-size: 36px;
                    
                    }
    
                    @include responsive(huge-cat) {
                        font-size: 40px;
                    }
                }

            }
        }

        

    }
}

@mixin my_skills_works_margin {

    margin-top: calc(-1px + 3vw);

    @include responsive(tablet-cat) {
        margin-top: calc(-12px + 3vw);
    }

    @include responsive(semi-cat) {
        margin-top: 20px;
    }

    @include responsive(huge-cat) {
        margin-top: 25px;
    }
}



@mixin ferris_wheel {
    &:nth-child(1) {
        top: 0%;
        left: 50%;
        translate: -50% -50%;
    }

    &:nth-child(2) {
        top:15%;
        left: 85%;
        translate: -50% -50%;
    }

    &:nth-child(3) {
        left: 100%;
        top: 50%;
        translate: -50% -50%;
    }

    &:nth-child(4) {
        left: 85%;
        top: 85%;
        translate: -50% -50%;
    }

    &:nth-child(5) {
        left: 50%;
        top: 100%;
        translate: -50% -50%;
    }

    &:nth-child(6) {
        left: 15%;
        top: 85%;
        translate: -50% -50%;
    }

    &:nth-child(7) {
        left: 0%;
        top: 50%;
        translate: -50% -50%;
    }

    &:nth-child(8) {
        left: 15%;
        top: 15%;
        translate: -50% -50%;
    }
}

@mixin proj_margin {
    &:nth-child(n+2) {
        @include nyan_large_margin;

    }
}

@mixin proj_flex_order {

    &:nth-child(2n) {
        .proj_photo {

            @include responsive(tablet-cat) {
                order: 2;
            }

        }

        .proj_contents {

            @include responsive(tablet-cat) {
                order: 1;
            }
        }
    }
}

@mixin proj_back_img {
    &:nth-child(1) {

        .proj_photo {

            img.proj_nyanbal {
                width: 30%;
                left: 50%;
                top: 50%;
                rotate: 120deg;

                @include responsive(tablet-cat) {
                    top: 50%;
                }

                @include responsive(semi-cat) {
                    //
                }

                @include responsive(huge-cat) {
                    //
                }
            }

            img.proj_back {
                width: 140%;
                top: -10%;
                left: -20%;

                @include responsive(tablet-cat) {
                    top: -4%;
                    left: -25%;
                }

                @include responsive(semi-cat) {
                    width: 150%;
                    top: -10%;
                    left: -40%;
                }

                @include responsive(huge-cat) {
                    top: -10%;
                }

                

                &:last-child {
                    top: -5%;

                    @include responsive(tablet-cat) {
                        top: 0%;
                        left: -20%;
                    }

                    @include responsive(semi-cat) {
                        left: -35%;
                    }
    
                    @include responsive(huge-cat) {
                        top: -0;
                    }

                }
            }
        }
    }

    &:nth-child(2) {

        .proj_photo {

            img.proj_nyanbal {

                left: 20%;
                top: 45%;
                rotate: -110deg;
                width: 30%;

                @include responsive(tablet-cat) {
                    top: 50%;
                }

                @include responsive(semi-cat) {
                    width: 30%;
                }

                @include responsive(huge-cat) {
                    //
                }
            }

            img.proj_back {
                width: 150%;
                top: 5%;
                left: -20%;

                @include responsive(tablet-cat) {
                    top: -4%;
                    left: -5%;
                }

                @include responsive(semi-cat) {
                    top: 5%;
                    left: -5%;
                    width: 160%;
                }

                @include responsive(huge-cat) {
                    top: -0%;
                    width: 160%;
                }

                

                &:last-child {
                    top: 0%;
                    left: -20%;


                    @include responsive(tablet-cat) {
                        top: -9%;
                        left: -10%;
                    }

                    @include responsive(semi-cat) {
                        left: -10%;
                        top: 0%;
                    }
    
                    @include responsive(huge-cat) {
                        top: -5%;
                        left: -10%;
                    }

                }
            }
        }
    }

    &:nth-child(3) {

        .proj_photo {

            img.proj_nyanbal {

                width: 30%;
                left: 45%;
                top: 35%;
                rotate: 60deg;

                @include responsive(tablet-cat) {
                    top: 35%;
                }

                @include responsive(semi-cat) {
                    width: 30%;
                }

                @include responsive(huge-cat) {
                    //
                }
            }

            img.proj_back {
                width: 140%;
                top: 3%;
                left: -20%;

                @include responsive(tablet-cat) {
                    width: 150%;
                    top: -3%;
                    left: -20%;
                }

                @include responsive(semi-cat) {
                    top: 5%;
                    left: -35%;
                    width: 150%;
                }

                @include responsive(huge-cat) {
                    top: -0%;
                    width: 160%;
                }

                

                &:last-child {
                    top: 8%;
                    left: -25%;


                    @include responsive(tablet-cat) {
                        top: 5%;
                        left: -15%;
                    }

                    @include responsive(semi-cat) {
                        left: -30%;
                        top: 8%;
                    }
    
                    @include responsive(huge-cat) {
                        top: 2%;
                        left: -35%;
                    }

                }
            }
        }
    }
}

@mixin button_hover {
    transition: all 0.5s linear;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    left: -100%;
}

@mixin button_letter_hover {
    color: #000620;
    &::after {
        left: 0%;
    }
}

@mixin proj_common_contents($idd, $svg1, $svg2, $svg3) {
    
    .proj_info {

        .proj_detail {

                p {
                    .info_highlight {
                        color: $idd;
                    }
                }
            }

            .info_tone {
                .tone_flex {
                    .tone_cat {
                        &:nth-child(1) {
                            img {
                                filter: $svg1;
                            }
                        }
                        &:nth-child(2) {
                            img {
                                filter: $svg2;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                filter: $svg3;

                            }
                        }
                    }
                }                               
            }
    }

    .info_btn_grp {

        &>button {

            background-color: $idd;
            border-color: $idd;    
            color: $idd;

            &::after {
                background-color: $idd;
            }

        }

    }
    
}

@mixin common_btn($color) {
    @include nyan_small_margin;
    display: flex;
    justify-content: space-between;

    &>button {
        cursor: pointer;
        display: block;
        position: relative;
        font-family: $common;
        width: 47.5%;
        border-width: 2px;
        border-style: solid;    

        text-align: center;
        border-radius: calc(1000px);
        overflow: hidden;

        background-color: transparent;
        transition: all 0.5s linear;

        border-color: $color;    
        color: $color;

        @include responsive(tablet-cat) {
            //
        }

        @include responsive(semi-cat) {
            width: 275px;
        }

        @include responsive(huge-cat) {
            width: 375px;
        }



        &:hover {
            @include button_letter_hover;
        }

        &::after {
            z-index: -1;
            background-color: $color;
            @include button_hover;
        }

        p {
            font-size: calc(4px + 4vw);
            padding: 0.5em 0;
            z-index: 3;
            
            @include responsive(tablet-cat) {
                font-size: calc(8px + 2vw);
            }

            @include responsive(semi-cat) {
                font-size: 32px;
            }

            @include responsive(huge-cat) {
                font-size: 40px;
            }

        }
    }
}

@mixin common_btn_plus {
    &:first-child {

        @include responsive(tablet-cat) {
            width: 37.5%;
        }

        @include responsive(semi-cat) {
            //
        }

        @include responsive(huge-cat) {
            //
        }
    }
    

    &:last-child {

        @include responsive(tablet-cat) {
            width: 57.5%;
        }

        @include responsive(semi-cat) {
            //
        }

        @include responsive(huge-cat) {
            //
        }

        .btn_mob {
            @include responsive(tablet-cat) {
                display: none;
            }
        }

        .btn_pc {
            display: none;

            @include responsive(tablet-cat) {
                display: block;
            }
        }
    }
}

@mixin cm_form_div {
    @include nyan_small_margin;

    display: flex;
    align-items: center;
    justify-content: space-between;

    
    &>p {
        width: 25%;
        font-size: calc(8px + 3vw);

        @include responsive(tablet-cat) {
            font-size: calc(8px + 2vw);
        }

        @include responsive(semi-cat) {
            font-size: 32px;
        }

        @include responsive(huge-cat) {
            font-size: 24px;
        }
    }

    &>input, &>textarea {
        border: 0;
        background-color: rgba($color: #fff, $alpha: 0.8);
        outline: none;
        padding: 0.25em 2%;
        font-family: $minor;
        color: #333;
        font-size: calc(5px + 3vw);
        text-align: justify;

        @include responsive(tablet-cat) {
            font-size: calc(4px + 2vw);
        }

        @include responsive(semi-cat) {
            font-size: 24px;
        }

        @include responsive(huge-cat) {

        }

        &::placeholder {
            color: #777;
            font-family: $minor;
            text-align: justify;
        }

    }

    &>input {
        width: 70%;
        border-radius: 1000px;

        @include responsive(tablet-cat) {
            width: 75%;
        }

        @include responsive(semi-cat) {

        }

        @include responsive(huge-cat) {

        }
    }

    &>textarea {
        @include nyan_petit_margin;
        width: 100%;
        border-radius: calc(5px + 3vw);
        min-height: calc(100px + 5vh);

        @include responsive(tablet-cat) {
            border-radius: calc(4px + 3vw);
            min-height: calc(120px + 5vh);
        }

        @include responsive(semi-cat) {
            border-radius: 32px;
            min-height: 240px;
        }

        @include responsive(huge-cat) {
            border-radius: 40px;
        }

        &::placeholder {
            line-height: 1.2em;

            @include responsive(tablet-cat) {
                line-height: 1.5em;
            }

            @include responsive(semi-cat) {

            }
    
            @include responsive(huge-cat) {
    
            }
        }

        &>p {
            width: 100%;
        }
    }
}

@mixin common_under {
    color: $identity;
    z-index: -1;
    box-shadow: inset 0 calc(calc(10px + 1vw) / -2) 0 rgba($color: $identity, $alpha: 0.3);

    @include responsive(tablet-cat) {
        box-shadow: inset 0 calc(calc(6px + 1vw) / -2) 0 rgba($color: $identity, $alpha: 0.3);
    }

    @include responsive(semi-cat) {
        box-shadow: inset 0 -9px 0 rgba($color: $identity, $alpha: 0.3);
        
    }

    @include responsive(huge-cat) {
        box-shadow: inset 0 -10.5px 0 rgba($color: $identity, $alpha: 0.3);

    }
}