@import './style.scss';

html {
    overflow: overlay;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px $identity;
        border-radius: 8px;
    }

    &::-webkit-scrollbar
    {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb
    {
        background: rgb(31,31,31);
        border-radius: 8px;
        background-image: -webkit-linear-gradient(-90deg,
        transparent 0%,
        transparent 5%,
        $identity 5%,
        $identity 15%,
        transparent 15%,
        transparent 20%,
        $identity 20%,
        $identity 30%,
        transparent 30%,
        transparent)
    }

    .gnb_nyan {
        overflow: overlay;

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px $identity;
            border-radius: 8px;
        }
    
        &::-webkit-scrollbar
        {
            width: 8px;
        }
    
        &::-webkit-scrollbar-thumb
        {
            background: rgb(31,31,31);
            background-image: -webkit-linear-gradient(-90deg,
            transparent 0%,
            transparent 5%,
            $identity 5%,
            $identity 15%,
            transparent 15%,
            transparent 20%,
            $identity 20%,
            $identity 30%,
            transparent 30%,
            transparent)
        }
    
    }

    .design_note {
        overflow: overlay;

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px $identity;
            border-radius: 8px;
        }
    
        &::-webkit-scrollbar
        {
            width: 8px;
        }
    
        &::-webkit-scrollbar-thumb
        {
            background: rgb(31,31,31);
            background-image: -webkit-linear-gradient(-90deg,
            transparent 0%,
            transparent 5%,
            $identity 5%,
            $identity 15%,
            transparent 15%,
            transparent 20%,
            $identity 20%,
            $identity 30%,
            transparent 30%,
            transparent)
        }
    
    }

}

::selection {

    background:$identity;
    color: #FFF;
    text-shadow: none;

}

::-moz-selection {

    background:$identity;
    color: #FFF;
    text-shadow: none;

}

::-webkit-selection {

    background:$identity;
    color: #FFF;
    text-shadow: none;
    
}

