/*=================중단점=================*/
$break-mobile: '320px';
$break-450: '450px';
$break-tablet: '768px';
$break-semipc: '1200px'; 
$break-hugepc: '1600px';

/*=================톤앤매너=================*/
// $background: #060f39;
$background: #000620;
$identity: #e87d9e;
$gray1: #9ea0a4;

/*=================톤앤매너(스킬)=================*/
$html: #e54d26;
/*=================아이덴티티 칼라=================*/

//웹페이지(고보협)
$kopc: #e7a335;
$kopc_t1: #e7a335;
$kopc_t2: #333333;
$kopc_t3: #ffffff;

$FAHotel: #c3dded;
$FAHotel_t1: #fefdf0;
$FAHotel_t2: #422d13;

$kidcat: $identity;
$kidcat_t1: $identity;
$kidcat_t2: $background;

//웹페이지(페어몬트)



/*=================폰트패밀리=================*/
// $bighead: 'Pacifico';
$common: 'ImcreSoojin';
$minor: 'GoyangIlsan';

/*=================여백=================*/

$petit_margin_p: 7px;
$petit_margin_t: 10px;
$petit_margin_s: 12px;
$petit_margin_h: 15px;

$tiny_margin_p: 15px;
$tiny_margin_t: 20px;
$tiny_margin_s: 25px;
$tiny_margin_h: 30px;

$small_margin_p: 25px;
$small_margin_t: 35px;
$small_margin_s: 40px;
$small_margin_h: 50px;

$regular_margin_p: 40px;
$regular_margin_t: 60px;
$regular_margin_s: 80px;
$regular_margin_h: 100px;

$mezo_margin_p: 60px;
$mezo_margin_t: 80px;
$mezo_margin_s: 100px;
$mezo_margin_h: 120px;

$mid_margin_p: 75px;
$mid_margin_t: 90px;
$mid_margin_s: 120px;
$mid_margin_h: 150px;

$big_margin_p: 120px;
$big_margin_t: 150px;
$big_margin_s: 180px;
$big_margin_h: 200px;

$large_margin_p: 150px;
$large_margin_t: 200px;
$large_margin_s: 250px;
$large_margin_h: 300px;


$grand_magin_p: 200px;
$grand_magin_t: 250px;
$grand_magin_s: 300px;
$grand_magin_h: 350px;