/*=================중단점=================*/
$break-mobile: '320px';
$break-450: '450px'; // 띄어쓰기 제거 전용
$break-tablet: '768px';
$break-semipc: '1200px'; 
$break-hugepc: '1600px';

/*=================톤앤매너=================*/
// $background: #060f39;
$background: #000620;
$identity: #e87d9e;
$gray1: #9ea0a4;

/*=================톤앤매너(스킬)=================*/
$html: #e54d26;
/*=================svg 필터=================*/

//웹페이지(고보협)
$kopc: #e7a335;
$kopc_f1: invert(63%) sepia(83%) saturate(371%) hue-rotate(356deg) brightness(92%) contrast(97%);
$kopc_f2: invert(17%) sepia(10%) saturate(0%) hue-rotate(235deg) brightness(103%) contrast(94%);
$kopc_f3: invert(100%) sepia(100%) saturate(0%) hue-rotate(336deg) brightness(101%) contrast(101%);

$FAHotel: #c3dded;
$FAHotel_f1: invert(100%) sepia(62%) saturate(637%) hue-rotate(304deg) brightness(108%) contrast(99%);
$FAHotel_f2: invert(16%) sepia(38%) saturate(744%) hue-rotate(354deg) brightness(97%) contrast(95%);
$FAHotel_f3: invert(9%) sepia(94%) saturate(5860%) hue-rotate(359deg) brightness(87%) contrast(110%);
$FAHotel_f4: invert(5%) sepia(44%) saturate(7221%) hue-rotate(231deg) brightness(155%) contrast(112%);
$FAHotel_f5: invert(27%) sepia(84%) saturate(2118%) hue-rotate(39deg) brightness(101%) contrast(101%);

$kidcat: $identity;
$kidcat_f1: invert(64%) sepia(55%) saturate(640%) hue-rotate(299deg) brightness(96%) contrast(89%);
$kidcat_f2: invert(64%) sepia(55%) saturate(640%) hue-rotate(299deg) brightness(96%) contrast(89%);
$kidcat_f3: invert(64%) sepia(55%) saturate(640%) hue-rotate(299deg) brightness(96%) contrast(89%);


//웹페이지(페어몬트)



/*=================폰트패밀리=================*/
// $bighead: 'Pacifico';
$common: 'ImcreSoojin';
$minor: 'GoyangIlsan';

/*=================여백=================*/

$petit_margin_p: 7px;
$petit_margin_t: 10px;
$petit_margin_s: 12px;
$petit_margin_h: 15px;

$tiny_margin_p: 15px;
$tiny_margin_t: 20px;
$tiny_margin_s: 25px;
$tiny_margin_h: 30px;

$small_margin_p: 25px;
$small_margin_t: 35px;
$small_margin_s: 40px;
$small_margin_h: 50px;

$regular_margin_p: 40px;
$regular_margin_t: 60px;
$regular_margin_s: 80px;
$regular_margin_h: 100px;

$mezo_margin_p: 60px;
$mezo_margin_t: 80px;
$mezo_margin_s: 100px;
$mezo_margin_h: 120px;

$mid_margin_p: 75px;
$mid_margin_t: 90px;
$mid_margin_s: 120px;
$mid_margin_h: 150px;

$big_margin_p: 120px;
$big_margin_t: 150px;
$big_margin_s: 180px;
$big_margin_h: 200px;

$large_margin_p: 150px;
$large_margin_t: 200px;
$large_margin_s: 250px;
$large_margin_h: 300px;

$large_margin_p: 150px;
$large_margin_t: 200px;
$large_margin_s: 250px;
$large_margin_h: 300px;

$grand_magin_p: 200px;
$grand_magin_t: 250px;
$grand_magin_s: 300px;
$grand_magin_s: 350px;